<!DOCTYPE html>
<html>
  <head>
    <title>Temperature Panel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
  </head>
  <body>
    <div class="topbar">
    <img href="#inner-menu-toggle" onclick="reset_animation()" id="inner-menu-toggle" class="lines"  src="{{ url_for('static', filename='lines.png') }}"/>
    </div>
    <div id="wrapper" style="background-color: #38373a; color: white;">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report" target="_blank">Source</a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report/wiki" target="_blank">Wiki</a>
                </li>
		            <li>
                    <a href="https://github.com/Dragon8oy/temp-report/releases" target="_blank">Releases</a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report/issues" target="_blank">Issues</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper" class="container-fluid">
            <div class="container-fluid" style="margin-top: 4.7%;">
              <div>
                <h2>Temperature display panel</h2>
                <p>&nbsp</p>
                <p>A frontent for temp-report</p>
                <p>Start at bottom</p>
                <p>Move the log and graph text up</p>
                <p>Make the other table boxes update</p>
                <p>Add temp-report in green at the top</p>
                <p>Add an arrow that rotates 90 degrees</p>
              </div>
              <div>
                <table id="temp-table" style="width: 400px;">
                  <tr>
                      <th>Current Temperature:</th>
                      <td id="currTempVal">{{ measureTemp() }}</td><td>Time</td>
                  </tr>
                  <tr>
                      <th>Highest Temperature:</th>
                      <td>Temp</td><td>Time</td>
                  </tr>
                  <tr>
                      <th>Lowest Temperature:</th>
                      <td>Temp</td><td>Time</td>
                  </tr>
                </table>
              </div>
              <br>
              <div style="display: inline-block;">
                <input id="graphCheck" class="inputGraph" type="checkbox" name="Graph" />
                <label class="button" for="graphCheck">Graph</label>
                <ul class="subGraph">
                  <li>Graph: | {{ pointCount }} points</li>
                  <li><img src="{{ url_for('static', filename='graph.png') }}" alt="Temperature Graph" height="360" width="600"></li>
                </ul>
              </div>
              <div style="display: inline-block;">
                <input id="logCheck" class="inputLog" type="checkbox" name="Log" />
                <label class="button" for="logCheck">Log</label>
                <ul class="subLog">
                  <li>Log: | {{ lineCount }} lines</li>
                  <li><textarea class="logBox" readonly>{{ logContent }} </textarea></li>
                </ul>
              </div>
              <br>
              <div class="footer">
              <a style="position: fixed; bottom: 0; right: 3px; padding: 1px;">Flask Version: {{ flaskVer }} | Temp-report Web Version: {{ tempWebVer }} | Temp-report Version: {{ tempVer }}</a>
              </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
    $("#inner-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
    $("#wrapper").toggleClass("toggled");
    function reset_animation() {
      var el = document.getElementById('inner-menu-toggle');
      el.style.animation = 'none';
      el.offsetHeight;
      el.style.animation = null;
    }
    </script>
    <script>
    setInterval(updateVals, 2500);
    function updateVals() {
      document.getElementById("currTempVal").textContent = {{ measureTemp() }}
    }
    </script>
  </body>
</html>
