<!DOCTYPE html>
<html>
  <head>
    <title>Temperature Panel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
  <body>
    <div class="topbar">
      <!--Add logo as another tab, but without a hover highlight-->
      <a class="topbar-tab special-tab">
        <div class="watermark">
          <img src="{{ url_for('static', filename='icon.svg') }}" class="bannerImage"/>
          <p class="bannerImage">&nbsp</p>
          <img src="{{ url_for('static', filename='banner.svg') }}" class="bannerImage"/>
        </div>
      </a>
      <a class="topbar-tab topbar-tab-hover" onclick="openLink('https://github.com/stuarthayhurst/temp-report')">Source code</a>
      <a class="topbar-tab topbar-tab-hover" onclick="openLink('https://github.com/stuarthayhurst/temp-report/wiki')">Wiki</a>
      <a class="topbar-tab topbar-tab-hover" onclick="openLink('https://github.com/stuarthayhurst/temp-report/releases')">Releases</a>
      <a class="topbar-tab topbar-tab-hover" onclick="openLink('https://github.com/stuarthayhurst/temp-report/issues')">Issues</a>
    </div>
    <div class="page-content">
      <div>
          <h2>Temperature display panel</h2>
          <p>A temperature display panel frontend for temp-report</p>
          <p>Temp-report is a small project to create a system that can handle the output from a Pi temperature logger</p>
          <p>This display panel contains a dropdown graph, dropdown logs, a tool to regenerate the graph and links to the project</p>
      </div>
      <div>
        <table class="temperature-table" style="width: 400px; empty-cells: hide;">
          <tr>
            <th></th>
            <th class="table-border">Temp:</th>
            <th class="table-border">Time:</th>
          </tr>
          <tr>
            <th class="table-border">Current Temperature:</th>
            <td class="table-border">{{ measureTemp('temp') }}°C</td><td class="table-border">{{ measureTemp('time') }}</td>
          </tr>
          <tr>
            <th class="table-border">Highest Temperature:</th>
            <td class="table-border">{{ getTemp('max', 'temp') }}°C</td><td class="table-border">{{ getTemp('max', 'time') }}</td>
          </tr>
          <tr>
            <th class="table-border">Lowest Temperature:</th>
            <td class="table-border">{{ getTemp('min', 'temp') }}°C</td><td class="table-border">{{ getTemp('min', 'time') }}</td>
          </tr>
        </table>
      </div>
	    </br>
		  <form action="./" method="POST">
			  <input class="inputGraphForm" type="radio" name="pointsrequested" value="24" checked> 2 Hour
			  <input class="inputGraphForm" type="radio" name="pointsrequested" value="48"> 4 Hour
			  <input class="inputGraphForm" type="radio" name="pointsrequested" value="144"> 12 Hour
			  <input class="inputGraphForm" type="radio" name="pointsrequested" value="288"> 24 Hour </br></br>
			  <input class="inputGraphForm button" type="submit" name="submit" value="Redraw">
		  </form>
      <br>
      <div class="dropdown-area">
        <div style="display: inline-block;">
          <!--div class="align-dropdown-vertical"-->
            <img id="graphArrow" onclick="toggleDropdown('arrow', 'graph')" height="35" width="35" src="{{ url_for('static', filename='collapsed.svg') }}">
            <!--p>&nbsp</p-->
            <input id="graphCheck" class="inputGraph" type="checkbox" name="Graph"/>
		        <label class="button" onclick="toggleDropdown('checkbox', 'graph')" for="graphCheck">Graph</label>
          <!--/div-->
          <p class="titleGraph">  &nbsp<span style="background-color: #4ace4f"> </span>Graph: | {{ pointCount }} points</p>
          <ul class="subGraph">
			      <li><img src="data:image/png;base64, {{ graphImageData }}" alt="Temperature Graph" height="360" width="600"></li>
          </ul>
        </div>
        <div style="display: inline-block;">
          <!--div class="align-dropdown-vertical"-->
            <img id="logArrow" onclick="toggleDropdown('arrow', 'log')" height="35" width="35" src="{{ url_for('static', filename='collapsed.svg') }}">
            <!--p>&nbsp</p-->
            <input id="logCheck" class="inputLog" type="checkbox" name="Log"/>
            <label class="button" onclick="toggleDropdown('checkbox', 'log')" for="logCheck">Log</label>
          <!--/div-->
          <p class="titleLog">  &nbsp<span style="background-color: #4ace4f"> </span>Log: | {{ lineCount }} lines</p>
          <ul class="subLog">
            <li><textarea class="logBox" id="logBox" readonly>{{ logContent }}</textarea></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="footer">
      <p> </p>
      <a style="position:fixed; z-index: 11; bottom: 0; right: 0; margin-right: 2px;">CPU Temperature: {{ cpuTemp }} </a>
    </div>
    <script>urlRoot = {{ url_for('static', filename='') }};</script>
    <script src="{{ url_for('static', filename='js/dropDownSetup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pageFunctions.js') }}"></script>
  </body>
</html>
