<!DOCTYPE html>
<html>
  <head>
    <title>Temperature Panel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
  </head>
  <body>
    <div class="topbar">
    <img href="#inner-menu-toggle" onclick="reset_animation()" id="inner-menu-toggle" class="lines"  src="{{ url_for('static', filename='lines.png') }}"/>
    <img id="banner" src="{{ url_for('static', filename='banner.png') }}" class="bannerImage"/>
    </div>
    <div id="wrapper" style="background-color: #38373a; color: white;">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report" target="_blank">Source</a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report/wiki" target="_blank">Wiki</a>
                </li>
		            <li>
                    <a href="https://github.com/Dragon8oy/temp-report/releases" target="_blank">Releases</a>
                </li>
                <li>
                    <a href="https://github.com/Dragon8oy/temp-report/issues" target="_blank">Issues</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper" class="container-fluid">
            <div class="container-fluid" style="margin-top: 4.7%;">
              <div>
                <h2>Temperature display panel</h2>
                <p>&nbsp</p>
                <p>A temperature display panel frontent for temp-report</p>
                <p>Temp-report is a small project to create a system that can handle the output from a Pi temperature logger.</p>
                <p>Make the arrows toggle the content as well</p>
              </div>
              <div>
                <table id="temp-table" style="width: 400px;">
                  <tr>
                      <th>Current Temperature:</th>
                      <td>{{ measureTemp('temp') }}</td><td>{{ measureTemp('time') }}</td>
                  </tr>
                  <tr>
                      <th>Highest Temperature:</th>
                      <td>{{ maxTemp('temp') }}</td><td>{{ maxTemp('time') }}</td>
                  </tr>
                  <tr>
                      <th>Lowest Temperature:</th>
                      <td>{{ minTemp('temp') }}</td><td>{{ minTemp('time') }}</td>
                  </tr>
                </table>
              </div>
              <br>
              <div style="display: inline-block;">
                <img id="graphArrow" onclick="toggleGraphArrow()" height="35" width="35" src="{{ url_for('static', filename='collapse.png') }}">
                <input id="graphCheck" class="inputGraph" type="checkbox" name="Graph" />
                <label class="button" onclick="toggleGraph()" for="graphCheck">Graph</label><p class="titleGraph">  &nbsp<span style="background-color: #4ace4f"> </span>Graph: | {{ pointCount }} points</p>
                <ul class="subGraph">
                  <li><img src="{{ url_for('static', filename='graph.png') }}" alt="Temperature Graph" height="360" width="600"></li>
                </ul>
              </div>
              <div style="display: inline-block;">
                <img id="logArrow" onclick="toggleLogArrow()" height="35" width="35" src="{{ url_for('static', filename='collapse.png') }}">
                <input id="logCheck" class="inputLog" type="checkbox" name="Log" />
                <label class="button" onclick="toggleLog()" for="logCheck">Log</label><p class="titleLog">  &nbsp<span style="background-color: #4ace4f"> </span>Log: | {{ lineCount }} lines</p>
                <ul class="subLog">
                  <li><textarea class="logBox" readonly>{{ logContent }}</textarea></li>
                </ul>
              </div>
              <br>
              <div class="footer">
                <p> </p>
              </div>
              <a style="position:fixed; z-index: 11; bottom: 0; right: 0; margin-right: 2px;">Flask Version: {{ flaskVer }} | Temp-report Web Version: {{ tempWebVer }} | Temp-report Version: {{ tempVer }}</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
    $("#inner-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
    $("#wrapper").toggleClass("toggled");
    function reset_animation() {
      var el = document.getElementById('inner-menu-toggle');
      el.style.animation = 'none';
      el.offsetHeight;
      el.style.animation = null;
    }
    </script>
    <script>
    graphState = 'collapse'
    function toggleGraph() {
      if (graphState == 'collapse') {
        document.getElementById("graphArrow").src="{{ url_for('static', filename='expand.png') }}";
        graphState = 'expand'
      } else {
        document.getElementById("graphArrow").src="{{ url_for('static', filename='collapse.png') }}";
        graphState = 'collapse'
      }
    }
    function toggleGraphArrow() {
      if (graphState == 'collapse') {
        document.getElementById('graphCheck').checked = true;
        document.getElementById("graphArrow").src="{{ url_for('static', filename='expand.png') }}";
        graphState = 'expand'
      } else {
        document.getElementById('graphCheck').checked = false;
        document.getElementById("graphArrow").src="{{ url_for('static', filename='collapse.png') }}";
        graphState = 'collapse'
      }
    }
    logState = 'collapse'
    function toggleLog() {
      if (logState == 'collapse') {
        document.getElementById("logArrow").src="{{ url_for('static', filename='expand.png') }}";
        logState = 'expand'
      } else {
        document.getElementById("logArrow").src="{{ url_for('static', filename='collapse.png') }}";
        logState = 'collapse'
      }
    }
    function toggleLogArrow() {
      if (logState == 'collapse') {
        document.getElementById('logCheck').checked = true;
        document.getElementById("logArrow").src="{{ url_for('static', filename='expand.png') }}";
        logState = 'expand'
      } else {
        document.getElementById('logCheck').checked = false;
        document.getElementById("logArrow").src="{{ url_for('static', filename='collapse.png') }}";
        logState = 'collapse'
      }
    }
    </script>
  </body>
</html>
