html, body {
  font-family: "Lato", sans-serif;
  background-color: #38373a;
  color: white;
}
::selection {
  background: #4ace4f;
}
::-moz-selection {
  background: #4ace4f;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
input {
  display: none;
}
ul {
  list-style-type: none;
}
ul.subGraph {
  max-height: 360px;
  height: 360px;
  visibility: hidden;
  overflow: hidden;
}
ul.subLog {
  max-height: 360px;
  height: 360px;
  visibility: hidden;
  overflow: hidden;
}
label {
  position: relative;
  display: block;
  cursor: pointer;
}
input.inputGraph:checked~ul.subGraph {
  visibility: visible;
}
input.inputLog:checked~ul.subLog {
  visibility: visible;
}
.button {
  background-color: #0e0e0f;
  user-select: none;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
}
.button:hover {
  background-color: #1b1a1c;
}
.footer {
  background-color: #262728;
  color: white;
  overflow: hidden;
  position: fixed;
  z-index: 10001;
  bottom: 0;
  left: 0;
  width: 100%;
}
.logBox {
    white-space: pre-wrap;
    font-size: 14px;
    color: black;
    width: 600px;
    height: 360px;
}
.topbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  height: 5.5%;
}
.lines {
  margin-left: 1%;
  padding: 5px;
  width: 2.5%;
  -webkit-animation:spin 0.25s linear;
  -moz-animation:spin 0.25s linear;
  animation:spin 0.25s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

@-moz-keyframes ball { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes ball { 100% { -webkit-transform: rotate(360deg); } }
@keyframes ball { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
