/*CSS rules for the structure of the page*/

/*Default theme rules*/
body {
  font-family: "Lato", sans-serif;
  background-color: #38373a;
  color: white;
}

/*Page container rules*/
.page-content {
  text-align: center;
  margin-right: 12.5%;
  margin-left: 12.5%;
  margin-top: 5.5%;
  width: 75%;
}

/*Topbar rules*/
.watermark {
  position: fixed;
  height: 5%;
  left: 1%;
  top: 0;
  z-index: 100;
}
.bannerImage {
  height: 100%;
  display: inline-block;
  position: relative;
}
.topbar {
  background-color: #1a1a1a;
  text-align: center;
  position: fixed;
  display: table;
  color: white;
  width: 100%;
  height: 5%;
  left: 0;
  top: 0;
  z-index: 100;
}
.topbar-tab {
  font-size: 110%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 5%;
}
/*Separate from topbar-tab, to avoid logo being highlighted*/
.topbar-tab-hover:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
  color: #474747;
}
/*Special handling to move logo to the left*/
.special-tab {
  padding-left: 0px;
  padding-right: 0px;
}

/*Bottom bar rules*/
.footer {
  background-color: #262728;
  color: white;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 100%;
}

/*Page tweaks*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #3a3a3a;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #dd4919;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6938;
}
::selection {
  background: #4ace4f;
}
::-moz-selection {
  background: #4ace4f;
}
