[Unit]
Description=temp-report email reply listener
After=network.target
StartLimitIntervalSec=5

[Service]
Type=forking
Restart=always
RestartSec=1
User=pi
ExecStart=
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
