[Unit]
Description=temp-report automatic emailer
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /home/pi/temp-report/temp.py

[Install]
WantedBy=multi-user.target
