[Unit]
Description=temp-report logger
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=

[Install]
WantedBy=multi-user.target
