[Unit]
Description=temp-report logger
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=pi
ExecStartPre=/bin/sleep 25
ExecStart=
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
